<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="utf-8">
    <title>Amazon BookStore</title>
    <link rel="stylesheet" href="assets/css/reset.css" />
    <link rel="stylesheet" href="assets/css/navbarstyle.css" />
    <link rel="stylesheet" href="assets/css/bookdetailstyle.css" />
</head>
<body>

<header>
    <h1>Amazon Book Store</h1>
</header>

<nav>
    <div id="nav-bar-top">
        <ul>

        </ul>
    </div>
</nav>

<main>
    <section>
        <h1></h1>
    </section>
</main>
</body>

</html>