.subBut {
    position: fixed;
    top: 83%;
    background: antiquewhite;
    width: 100%;
    padding: 40px;
}

.button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: #e38a8a;
    height: 48px;
}

.button:hover{
    transform: scale(1.04);
    background-color: #E38A8AFF;
}




*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.heady{
    font-size: 25px;
    padding:15px;
    text-align: left;
}

h2{
    font-size: 20px;
    padding:15px;
    text-align: center;
}

.tab{
    padding-top: 40px;
    float: right;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

th{
    font-size: 20px;
    font-family: "Lucida Sans";
    padding: 5px;
}

td{
    padding: 15px;
}
