<!doctype html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link  rel="stylesheet" href= "../static/css/searchstyle.css">
    <title>Welcome to Amazon Bookstore </title>
</head>
<body>
<div class="container">
    <form action = "" class="search-bar">
        <input type="text" placeholder="search a book" name="q">
        <button type="submit"><img src="../static/img/search.png"></button>

    </form>

</div>

<div class="container" style="width: 95%">

        <table style="border: 1px solid black; width: 95%">
            <thead>
            <tr>

                <th style="border-right:1px;text-align:left">Id</th>
                <th style ="border-right:1px;text-align:left">Name</th>
                <th style="border-right:1px;text-align:left;">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    harry potter
                </td>
                <td>
                    kjdfkjds
                </td>
            </tr>


            </tbody>
        </table>

</div>

</body>
</html>