<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link  rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link  rel="stylesheet" type="text/css" th:href="@{/css/navbarstyle.css}">
    <link  rel="stylesheet" type="text/css" th:href="@{/css/searchstyle.css}">

    <title>Welcome to Amazon Bookstore </title>

    <script>
        const myForm = document.getElementById("filter");
        document.querySelector(".submit").addEventListener("click", function(){
            myForm.submit();
        });
    </script>
</head>
<body>

<header class= "main_header">
    <h1>Amazon Book Store</h1>
</header>

<nav>
    <div id= "nav-bar-top">
        <a th:href= "@{/recommendation}">Home</a>
        <a th:href= "@{/search}">Search</a>
        <a th:href= "@{/cart}">Cart</a>
        <a class="account" th:href= "@{/account}">Account</a>
    </div>
</nav>

<div class="center">
    <div class="container">
        <form class = "search-bar" th:action= "@{/SearchBar}" th:object="${searchWord}" method="post" >
            <input type="text" class="form-control" placeholder="Type Something" required th:name="searchInput">
            <button type="submit"><img th:src="@{/img/search.png}"></button>
        </form>
    </div>

    <div class="left-filter">
        <form id="filter" method="post" th:action="@{/search/filter}">
            <details>
                <summary><strong>Language</strong></summary>
                <input type="checkbox" id="language1" th:name="checkInp" value="ENGLISH">
                <label for="language1">English</label><br>
                <input type="checkbox" id="language2" th:name="checkInp" value="FRENCH">
                <label for="language2">French</label><br>
            </details>

            <details>
                <summary><strong>Age</strong></summary>
                <input type="checkbox" id="age1" th:name="checkInp" value="G">
                <label for="age1">G</label><br>
                <input type="checkbox" id="age2" th:name="checkInp" value="PG">
                <label for="age2">PG</label><br>
                <input type="checkbox" id="age3" th:name="checkInp" value="PG_13">
                <label for="age3">PG 13</label><br>
                <input type="checkbox" id="age4" th:name="checkInp" value="R">
                <label for="age4">R</label><br>
            </details>

            <details>
                <summary><strong>Genre</strong></summary>
                <input type="checkbox" id="genre1" th:name="checkInp" value="FANTASY">
                <label for="genre1">Fantasy</label><br>
                <input type="checkbox" id="genre2" th:name="checkInp" value="HISTORY">
                <label for="genre2">History</label><br>
                <input type="checkbox" id="genre3" th:name="checkInp" value="ROMANCE">
                <label for="genre3">Romance</label><br>
                <input type="checkbox" id="genre4" th:name="checkInp" value="FICTION">
                <label for="genre4">Fiction</label><br>
                <input type="checkbox" id="genre5" th:name="checkInp" value="KIDS">
                <label for="genre5">Kids</label><br>
                <input type="checkbox" id="genre6" th:name="checkInp" value="YOUNG_ADULT">
                <label for="genre6">Young Adult</label><br>
                <input type="checkbox" id="genre7" th:name="checkInp" value="HORROR">
                <label for="genre7">Horror</label><br>
            </details>

            <details>
                <summary><strong>Price</strong></summary>
                <input type="checkbox" id="price1" th:name="checkInp" value="Under 10">
                <label for="price1">Under 10</label><br>
                <input type="checkbox" id="price2" th:name="checkInp" value="10 - 50">
                <label for="price2">10 - 50</label><br>
                <input type="checkbox" id="price3" th:name="checkInp" value="50 - 100">
                <label for="price3">50 - 100</label><br>
                <input type="checkbox" id="price4" th:name="checkInp" value="Over 100">
                <label for="price4">Over 100</label><br>
            </details>
            <button class="filt" type= "submit">Submit</button>
        </form>
    </div>



    <div class="sort">
        <form class="sort" th:action="@{/search/sortallbooks}" th:object="${sortOptions}" method="post">
            <p>
                <label>Sort By</label>
                <select th:field = "*{options}">
                    <option value = "3">Price low to high</option>
                    <option value = "1">Price high to low</option>
                    <option value = "2" >Sort by author</option>
                    <option value = "4">Sort by title</option>
                </select>
                <button type= "submit" style="background-color:#DA7171FF" class="btn btn-success">Submit</button>
            </p>
        </form>
    </div>

    <div class="tab" th:if="${displayedbooks.size() != 0}">
        <table style="width: 95%">
            <thead>
            <tr>
                <th style="border-right:1px;text-align:left">Id</th>
                <th style ="border-right:1px;text-align:left">Title</th>
                <th style ="border-right:1px;text-align:left">Price</th>
                <th style ="border-right:1px;text-align:left">Author</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "book:${displayedbooks}" >
                <td th:text = "${book.getId()}">${book.getId()}</td>
                <td th:text = "${book.getTitle()}">${book.getTitle()}</td>
                <td th:text = "${book.getPrice()}">${book.getPrice()}</td>
                <td th:text = "${book.getAuthor()}" >${book.getAuthor()}</td>
                <td>
                    <a th:href="@{/bookdetails/{id}(id = ${book.id})}">
                        Details
                    </a>
                </td>
            </tbody>
        </table>
    </div>

    <div class="tab" th:if="${displayedbooks.size() == 0}">
        <h1 class="heady">No Results Found</h1>
    </div>
</div>

</body>
</html>