<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <title>Welcome to Amazon Bookstore </title>
</head>
<body>
<div class="container">
  <h1>Sign Up form</h1>
  <form class ="col-5" th:action="@{/userSignup}" th:object="${signupUser}" method="post">
    <label><h6>First Name</h6></label>
    <input type="text" class="form-control" required th:field="*{firstName}">

    <label><h6>Last Name</h6></label>
    <input type="text" class="form-control" required th:field="*{lastName}">

    <label><h6>Email</h6></label>
    <input type="text" class="form-control" required th:field="*{email}">

    <label><h6>Password</h6></label>
    <input type="password" class="form-control" required th:field="*{password}">

    <br/>
    <button type= "submit" class="btn btn-success">Submit</button>
    <span>Already registered? <a th:href="@{/start}">Login here</a></span>
  </form>
</div>


</body>
</html>